*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;

}
html{
    font-size:62.5%;
}
.sub-header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/bodyBackground.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}

.nav-links{
    flex:1;
    text-align:center;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:0.8rem 1.2rem;
    position:relative;
}
.nav-links ul li a{
    color:white;
    text-decoration:none;
    font-size:1.8rem;
    width:100%;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:0.2rem;
    background:pink;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
#port{

    background-image: url("images/bodyBackground.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1rem;
	padding-bottom:6rem;
}



#port h1,h2,h3,h4,h5,h6,h7{
    text-align: center;
    font-size: 2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5rem;
    height: 4rem;


}
a {
    color: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top:1rem;

}
#port h1{
    background-color: black;
    color:#4ebf38;
    font-weight: lighter;
}
#port h2{
    background-color:#1b3050 ;
    color:white;
    font-weight: lighter;
}
#port h3{
    background-color: black;
    color:#4ebf38;
    font-weight: lighter;
}
#port h4 {
    background-color: #1d312f;
    color: pink;
    font-weight: lighter;
}
#port h5 {
    background-color: #e6dbc9;
    color: red;
    font-weight: lighter;
}
#port h6 {
    background-color: #d8edf3;
    color: black;
    font-weight: lighter;
}
#port h7{
    background-color: black;
    color:red;
    font-weight: lighter;
}
#port img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top:1rem;
}
/*---social-icons---*/
.social-icons{
    width:5rem;
    position:fixed;
    top:50%;
    left:0;
    transform:translateY(-50%);
    z-index:1;
}
.social-icons img{
    display:block;
    width:2rem;
    margin:0 auto 2rem;
    cursor:pointer;
}

/*---footer---*/

#footer{
    padding:5rem 0 3rem;
}
hr{
    width:100%;
    border:0;
    border-top:0.1rem solid pink;
}
.footer-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-left-col{
    flex-basis:50%;
    margin-top:6rem;
}
.footer-right-col{
    flex-basis:35%
}
.footer-links{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.link-title h4{
    color:pink;
    margin-bottom:2rem;
    font-size: 1rem;
    margin-left: 4rem;
}
.link-title small{
    font-size:1.3rem;
    color:white;
    margin-left: 4rem;
}
.footer-info{
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-logo img{
    width:15rem;
}
.footer-logo button{
    padding: 1.2rem 3.8rem;
    margin-top:2rem;
    font-size:1rem;
}
.copyright-text,.footer-logo{
    flex-basis:45%;
    font-size: 2rem;
    color:pink;
}
@media only screen and (max-width:700px){
a {
    color: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top:1rem;

}
.footer-left-col,.footer-right-col{
	flex-basis:100%;
	}
	.footer-logo {
    display:none;
}
.copyright-text,.footer-logo{
    flex-basis:100%;
    font-size: 2rem;
    color:pink;
	text-align:center;
	margin-top:2rem;
}
.link-title h4{
    
    margin-bottom:0;
    
}
#port h4 {
    font-size:1.7rem;
}
#port h1,h2,h3,h4,h5,h6,h7{
    width: 80%;
	display:inline-block;
	margin-left:10%;
	margin-right:10%;
}
}
  
